<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @classs.name %>
</p>

<p>
  <strong>Major:</strong>
  <%= @classs.major_id %>
</p>

<%= link_to 'Edit', edit_classs_path(@classs) %> |
<%= link_to 'Back', classses_path %>
