<p id="notice"><%= notice %></p>

<h1>Listing Colleges</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th colspan="2">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @colleges.each do |college| %>
      <tr>
        <td><%= college.id %></td>
        <td><%= college.name %></td>
        <td><%= link_to '更改', edit_college_path(college) %></td>
        <td><%= link_to '删除', college, method: :delete, data: { confirm: '确定要删除吗?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新增', new_college_path %>
