<p id="notice"><%= notice %></p>

<p>
  <strong>Archiveno:</strong>
  <%= @archive.archiveno %>
</p>

<p>
  <strong>Jiyaono:</strong>
  <%= @archive.jiyaono %>
</p>

<p>
  <strong>Issend:</strong>
  <%= @archive.issend %>
</p>

<p>
  <strong>Sendway:</strong>
  <%= @archive.sendway %>
</p>

<p>
  <strong>Isduyan:</strong>
  <%= @archive.isduyan %>
</p>

<p>
  <strong>Firstsend:</strong>
  <%= @archive.firstsend %>
</p>

<p>
  <strong>Secondsend:</strong>
  <%= @archive.secondsend %>
</p>

<p>
  <strong>Hmaterial:</strong>
  <%= @archive.hmaterial %>
</p>

<p>
  <strong>Umaterial:</strong>
  <%= @archive.umaterial %>
</p>

<p>
  <strong>Mmaterial:</strong>
  <%= @archive.mmaterial %>
</p>

<p>
  <strong>Dmaterial:</strong>
  <%= @archive.dmaterial %>
</p>

<p>
  <strong>Pmaterial:</strong>
  <%= @archive.pmaterial %>
</p>

<p>
  <strong>Omaterial:</strong>
  <%= @archive.omaterial %>
</p>

<p>
  <strong>Zmaterial:</strong>
  <%= @archive.zmaterial %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @archive.remark %>
</p>

<%= link_to 'Edit', edit_archive_path(@archive) %> |
<%= link_to 'Back', archives_path %>
